@use "header";
@use "view";
@use "btn";
@use "mixin";
@use "title";
@use "footer";

.item_content {
  margin-top: 60px;
  display: flex;
  margin-bottom: 60px;
}

.item_fig {
  max-width: 400px;
  aspect-ratio: 1 / 1;
}

.item_text {
  max-width: 400px;
  margin-left: 80px;
  p {
    margin-bottom: 40px;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
  }
  dt {
    width:25%;
    font-weight: normal;
  }
  dd {
    width:75%;
  }
}

.back_to_products {
  display: block;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}